.faq {

  .desc {
    text-align: justify;
    .section-title{
      font-size:14px;
      font-weight: 400;
    }
    .answer {
      font-size:14px;
      color: #909090;
      padding-right: 15px;
      line-height: normal;
      margin-bottom: 30px;
      margin-top:10px;
      font-weight: normal;
    }
  }
}
