.register {
  background-color: $color-background-4;
  padding: 15px;
  @include border-radius(3px);
  position: relative;
  margin:30px 0;

  &:after {
    content: "";
    height: 50%;
    display: block;
    border-left: 5px solid $color-background-1;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(0);
  }

  &:before {
    content: "";
    height: 50%;
    display: block;
    border-left: 5px solid $color-main-1;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(0);
  }

  .required {
    color: $color-secondary-1;
  }

  .checkbox-lb {
    padding-right: 20px;
    padding-left: 0;
    line-height: 40px;
    margin: 0;
    color: $color-background-2;

    &:before {
      content: "";
      width: 15px;
      height: 15px;
      border: 1px solid $color-secondary-1;
      position: absolute;
      right: 0px;
      top: 12px;
    }

    .bg-checked {
      width: 11px;
      height: 11px;
      position: absolute;
      right: 5px;
      top: 13px;
      background: transparent;
    }

    input[type="checkbox"] {
      visibility: hidden;
      position: absolute;

      &:checked ~ .bg-checked {
        bottom: 2px;
        width: 5px;
        height: 10px;
        border: solid $color-main-1;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }

    .message {
      bottom: -35px;
    }
  }

  .submit {
    border: 1px solid $color-secondary-1;
    @include border-radius(0);
    color: $color-main-1;
    background-color: #ffffff;
    padding: 0 35px;
    height: 46px;
    font-size: 14px;
    line-height: 46px;
    font-weight: bold;
    margin: 15px 0;

    &:focus {
      box-shadow: none;
    }
  }

  .static-description {
    .section-title {
      margin-bottom: 10px;
      @media(max-width: 767.98px){
        display: none;
      }
    }

    .extra-link {
      display: block;
      font-weight: bold;
      color: $color-main-1;
      font-size: 15px;
      padding: 5px 0;
      @include transition(all, .3s);

      i{
        font-size: 16px;
        color: $color-thirdly-1;
        vertical-align: middle;
        margin-left:5px;
      }
      &:hover {
        color: $color-thirdly-1;
      }
    }

    p {
      margin-top:10px;
      color: $color-background-2;
      font-size: 14px;
      line-height: 26px;
      @media(max-width: 767.98px){
        font-size:12px;
        line-height: assign-inputs();
      }
    }
  }
  @media(max-width: 575.98px){
    margin:15px 0 !important;
  }
}