.favorites{
  padding-top:60px;
  padding-bottom:30px;
  .btn-like{
    color:#fff;
    line-height: 35px;
  }
  @media(max-width: 767.98px){
    padding-top:30px;
  }
  @media(max-width: 767.98px){
    padding-top:15px;
    padding-bottom:15px;
  }
}