//body Background
.body-one {
  background-color: $white;

}

.background-body-one {
  position: fixed;
  overflow: hidden;

}

.body-two {
  display: flex;
  position: absolute;
}

// rotate hr for Background
.rotate-hr-one {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  margin-right: -660px;
  width: 2300px;
  display: inline-block;
  position: fixed;
  margin-top: -10px;

}

.rotate-hr-two {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  margin-right: -260px;
  width: 2300px;
  display: inline-block;
  position: fixed;
  margin-top: -10px;
}

.rotate-hr-Three {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  margin-right: 140px;
  width: 2300px;
  display: inline-block;
  position: fixed;
  margin-top: -10px;
}

// Navigation bar for header site
.navbar {
  padding: 20px 0;
  margin-right: 210px;
  margin-left: 210px;
  top: -160px;
}

.navbar ul li {
  direction: rtl;
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: $black;
  text-transform: uppercase;
}

.navbar ul li::after {
  content: '';
  height: 1px;
  width: 0;
  background: $black;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.li-active {
  text-decoration-line: underline;
  text-decoration-color: $black;
  text-decoration-thickness: 1.3px;
  text-underline-offset: 14px;
  font-family: bold, serif;
  color: black;
}

// Automatic typing for text
.type-automatic h1 {
  text-align: right;
  direction: rtl;
  color: black;
  font-family: bold, serif;
  overflow: hidden;
  border-left: .10em solid #000000;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: typing 3.5s steps(30, end),
  blink-caret .5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}

// slider nomber one
.container-slider {
  margin-top: 10px;
  position: relative;
  margin-right: 75px;
  width: 1080px;
  height: 50px;
  padding-bottom: 40%;
  user-select: none;
}

.container-slider .slide_img {
  position: absolute;
  width: 100%;
  height: 503px;
  z-index: -1;
  padding: 10px;
}

.container-slider input {
  display: none;
}

.container-slider .slide_img img {
  width: inherit;
  height: inherit;
}

.container-slider .slide_img .prev span, .container .slide_img .next span {
  position: absolute;
  width: 0px;
  height: 0px;
  border: solid 20px;
  top: 50%;
  transform: translateY(-50%);
}

.container-slider .slide_img .prev span {
  border-color: transparent #fff transparent transparent;
  right: 35%;
}

.container-slider .slide_img .next span {
  border-color: transparent transparent transparent #fff;
  left: 35%;
}

.container-slider #nav_slide {
  width: 300px;
  height: 111px;
  margin-right: -100px;
  margin-top: 150px;
  padding: 80px;
  display: block;
}

.container-slider #nav_slide .dots {
  top: -5px;
  width: 14px;
  height: 14px;
  position: relative;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-color: #696696;
  cursor: pointer;
  display: block;

}

.container-slider #nav_slide #dot2:hover {
  background: #000000;
}

#i2:checked ~ #two,
#i3:checked ~ #three, {
  z-index: 9;
  animation: scroll 1s ease-in-out;
}

#i2:checked ~ #nav_slide #dot2 {
  background: #000000;
}

#i3:checked ~ #nav_slide #dot3 {
  background: #000000;
}

.slider-index {
  display: flex;
  margin-right: 100px;

}

.container-slider #nav_slide-2 {
  width: 300px;
  height: 111px;
  margin-right: 990px;
  margin-top: -140px;
  padding: 80px;
  display: block;
}

.container-slider #nav_slide-2 .dots {
  top: -5px;
  width: 45px;
  height: 45px;
  position: relative;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-color: #696696;
  cursor: pointer;
  display: block;

}

.container-slider #nav_slide-2 #dot2:after {
  background: #000000;
}

#i2:checked ~ #two,
#i3:checked ~ #three, {
  z-index: 9;
  animation: scroll 1s ease-in-out;
}

#i2:checked ~ #nav_slide-2 #dot2 {
  background: #000000;
}

#i3:checked ~ #nav_slide-2 #dot3 {
  background: #000000;
}


form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
form label {
  display: block;
}
form p {
  margin: 0;
}

.full-width {
  grid-column: 1 / 3;
}

button,
.submit-btn,
.form-input,
textarea {
  padding: 1em;
}

input[type='text'], [type='email'], select, textarea {
  background: none;
  border: none;
  border-bottom: solid 2px #474544;
  color: #474544;
  font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;
  text-transform: uppercase;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
  outline: none;
  padding: 0 0 0.875em 0;
}



// slider nomber two
.img:hover {
  float: right;
  transform: scale(1.1, 1);
  transition-duration: 0.2s;
  cursor: crosshair;
  max-height: 250px;
}

.img-slider img {
  height: 250px;
  width: 262px;
  padding: 15px;

}

.img-slider {
  display: flex;
  position: relative;
  width: 300px;
  height: 200px;
  animation-name: slide;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  transition-duration: 2s;

}

.img-slider {
  animation-name: slide1;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  transition-duration: 2s;
}

@keyframes slide1 {
  0% {
    left: 0px;
  }
  15% {
    left: 0px;
  }
  20% {
    left: 0px;
  }
  32% {
    left: 0px;
  }
  35% {
    left: 0px;
  }
  47% {
    left: 0px;
  }
  50% {
    left: 0px;
  }
  63% {
    left: 0px;
  }
  66% {
    left: 0px;
  }
  79% {
    left: 0px;
  }
  82% {
    left: 200px;
  }
  100% {
    left: 200px;
  }
}

.section1 {
  width: 1080px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.section1 {
  width: 80%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}

.slider-2 {
  background-color: #f7f7f7;
  padding-top: 40px;
  padding-bottom: 40px;
  border-style: ridge;
}

//                text-collapsible
.text-collapsible {
  display: inline-block;
  margin-right: 500px;
  margin-left: 140px;
  font-family: bold;
}

.m-d.expand-list {
  margin: 0;
  padding: 0;
}

.m-d.expand-list > li {
  list-style-type: none;
  position: relative;
}

.m-d label[class^="tab"]:hover {
  cursor: pointer;
}

.m-d input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.m-d input[class^="tab"]:hover {
  cursor: pointer;
}

.m-d .content {
  height: auto;
  max-height: 0;
  max-width: 960px;
  overflow: hidden;
  transform: translateY(0px);
  transition: all 180ms ease-in-out 0ms;
}

.m-d li[data-md-content="100"] input[class^="tab"]:checked ~ .content {
  max-height: 100px;
  transition: all 150ms ease-in-out 0ms;
}

.m-d li[data-md-content="200"] input[class^="tab"]:checked ~ .content {
  max-height: 200px;
  transition: all 200ms ease-in-out 0ms;
}

.m-d input[class^="tab"]:checked ~ .content {
  margin-bottom: 20px;
}

.nav.nav-border-anim .nav-link {
  position: relative;
  border-bottom: none
}

.nav.nav-border-anim .nav-link:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: .1rem;
  background-color: #000000;
  transform-origin: right center;
  transform: scale(0, 1);
  transition: transform .3s ease
}

.form-tab .nav.nav-border-anim .nav-link:before {
  height: .2rem
}

.nav.nav-border-anim .nav-link.active:before {
  transform-origin: left center;
  transform: scale(1, 1)
}

.nav.nav-border-anim.nav-pills-mobile .nav-link:before {
  height: .2rem
}
.nav.nav-pills .nav-link {
  color: #777;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: -.01em;
  padding: .45rem 1rem;
  border-radius: 0;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-bottom: .1rem solid transparent;
  background-color: transparent;
  transition: all .35s ease
}


.nav.nav-pills .nav-link:focus {
  outline: none !important
}

.name-nav{
  color: black;
  padding: 17px;
}

.a-links{
  color: black;
  margin-left: 150px;
  margin-bottom: 70px;
  margin-top: 70px;
}
.select-links{
  color: #000;
  padding: 10px;
}
.footer-links{
  direction: ltr;
  text-align: left;
  background-color: white;
  color: black;
}
.txt-footer{
  text-align: center;
}
// icons
.fas {
  color: white;
  margin-top: 8px;
  margin-right: 15px;
  margin-left: 10px;
  font-size: 28px;
}
.fa {
  padding: 20px;
  font-size: 14px;
  width: 72px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}
/* Facebook */
.fa-facebook {
  color: $black;
  width: 52px;
  height: 24px;
}
.fa-facebook:hover{
  color: white;
  background: #3B5998;
}

/* Twitter */
.fa-twitter {
  color: $black;
  width: 52px;
  height: 24px;
}
.fa-twitter:hover{
  color: white;
  background: #3B5998;
}
/* instagram */
.fa-instagram {
  color: $black;
  width: 52px;
  height: 24px;
}
.fa-instagram:hover{
  color: white;
  background: #3B5998;
}
/* LinkedIn */
.fa-linkedin {
  color: $black;
  width: 52px;
  height: 24px;
}
.fa-linkedin:hover{
  color: white;
  background: #3B5998;
}
// footer
.footer-right{
  display: inline;
  margin-left: 600px;
}

// foreach-nomber

.foreach-nomber{
  text-align: center;
  background-color: $white;
  color: $black;
  font-weight: 900;
  display: block;
}
.counter{
  padding: 10px;
  display: inline-block;
  font-weight: 900;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.counter-container{
  padding: 10px;
  display: inline-block;
  font-weight: 900;
  margin-top: 10px;
  margin-bottom: 20px;
}
.rotate{
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  width: 90px;
  display: inline-block;
}

// about-us

.about-text-center{
  display: inline-grid;
  text-align: center;
  margin-right: 230px;
  width: 250px;
}
.about-text-right{
  display: inline-grid;
  text-align: right;
  margin-right: 60px;
  width: 250px;
}
.about-text-left{
  display: inline-grid;
  text-align: left;
  margin-right: 200px;
  width: 250px;
}
.about-us{
  margin-top: 100px;
}
// about-us two

.about-text-center-two{
  display: inline-grid;
  text-align: center;
  margin-right: 230px;
  width: 250px;
}
.about-text-right-two{
  display: inline-grid;
  text-align: right;
  margin-right: 60px;
  width: 250px;
}
.about-text-left-two{
  display: inline-grid;
  text-align: left;
  margin-right: 200px;
  width: 250px;
}
.about-us-two{
  margin-top: 100px;
}
.about-us-img-one{
  border-radius: 50%;
}
.about-link{
  color: #696969;
text-decoration-line: underline;
  text-decoration-style: dashed;
}
.about-link:hover{
  color: #696969;
  text-decoration-line: underline;
  text-decoration-style: dashed;

}
body{
  font:16px/1.6 Arial,  sans-serif;
}
* {
  box-sizing: border-box;
}

.contain {
  background-color: #eee;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

div.form {
  background-color: #eee;
}
.contact-wrapper {
  margin: auto 0;
}

.submit-btn {
  float: left;
}
.reset-btn {
  float: right;
}
.submit-button{
  position: relative;
background-color: black;
  color: white;
  overflow: hidden;
}
.submit-button:hover{
  background-color: white;
  color: black;
}
.form-headline:after {
  content: "";
  display: block;
  width: 10%;
  padding-top: 10px;
  direction: ltr;
  text-align: left;
}

.highlight-text {
  color: #272727;
}

.hightlight-contact-info {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.5;
}

.highlight-text-grey {
  font-weight: 500;
}

.email-info {
  margin-top: 20px;
}

::-webkit-input-placeholder { /* Chrome */
  font-family: 'Roboto', sans-serif;
}

.required-input {
  color: black;
}
@media (min-width: 600px) {
  .contain {
    padding: 0;
  }
}

h3,
ul {
  margin: 0;
}

h3 {
  margin-bottom: 1rem;
}

.form-input:focus,


.form-input,
textarea {
  width: 100%;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}

.wrapper > * {
  padding: 1em;
}
@media (min-width: 700px) {
  .wrapper {
    margin-left: 90px;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .wrapper > * {
    padding: 2em 2em;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.contacts {
  color: #212d31;
}

.form {
  background: #fff;
  width: 600px;
  margin-right: 110px;

}
input[type='text'], [type='email'], select, textarea {
  background: none;
  border: none;
  border-bottom: solid 2px #474544;
  color: #474544;
  font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;
  text-transform: uppercase;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
  outline: none;
  padding: 0 0 0.875em 0;
}

.text-collapsible-left{
  display: inline-grid;
  text-align: left;
  margin-right: 100px;
  width: 550px;

}
// image fixed and all text box
.working-area {
  position: relative;
  display: block;
  background-attachment: fixed;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 110px 0 60px;
  z-index: 1;
}
.working-area::before {
  background: rgba(40, 41, 46, 0.97) none repeat scroll 0 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  z-index: -1;
}
.all-box{
  display: flex;
  overflow: hidden;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 50px;
}
.box{
  position:relative;
  animation-name: free-learn;
  animation-duration: 3s;

  animation-iteration-count: 3;
  animation-direction: alternate;
  text-align: center;
  color: white;
  display: inline-block;
  padding-left: 100px;
}

@keyframes free-learn{
  from {left:0;}
  to   {right:300px;}
}


button {
  font-size: 1em;
  background: #000000;
  color: #fff;
  border: 0.15rem solid #000000;
  padding: 10px 10px;
  margin: 5px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
button:hover {
  color: #1c0707;
}
button::after {
  content: "";
  background: #ffffff;
  position: absolute;
  z-index: -1;
  padding: 0.85em 0.75em;
  display: block;
}
button[class^="slide"]::after {
  transition: all 0.35s;
}
button[class^="slide"]:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.35s;
}

button.slide_from_right::after {
  top: 0;
  bottom: 0;
  left: 100%;
  right: -100%;
}
.container-two{
  background-color: #f7f7f7;
}
.container-one{
  background-color: white;
}
.title-container{
  text-align: center;
}
.mini-hr{
  width: 90px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}
.title-p-container{
  text-align: center;
  width: 450px;
  margin-right: auto;
  margin-left: auto;
}
.tab-content-image{
  margin-right: 145px;
  margin-left: 40px;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 50px;
}
.img-content{
  display: inline-block;
  margin-right: 30px;
  margin-left: 30px;
  width: 225px;
  height: 170px;
}
.container-tab-content{
  display: inline-block;
  margin-top: 40px;
}
.container-tab-content-one{
  display: inline-block;
  margin-top: 10px;
}
.container-text{
  display: inline-block;
  position: absolute;
  margin-top: 190px;
  margin-right: -160px;
}
.container-text-one{
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-color: #929292;
padding: 10px;
  max-width: 300px;
}
.container-text-p{
  color: #929292;
}
.share-button{
  margin-right: 1000px;
  display: inline-block;
  padding: 13px;
}
.border-share{
  display: inline-block;
border-style: solid;
  width: 5px;
  margin: -2.6px;
  padding: 13px;
}
.share-line{
position: absolute;
display: inline-block;
}
.h1-right{
  display: inline-block;
  margin-left: 900px;
margin-right: 150px;
  text-align: right;
  direction: rtl;
}
