.orders {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  @media(max-width: 767.98px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .table-header {
    height: 50px;
    text-align: center;
    background: $color-background-5;
    line-height: 50px;
    font-weight: 500;
    @include flex();
    flex-direction: row;
    align-items: stretch;
    .col {
      border: 1px solid $color-border-3;
      float: none;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    @media (max-width: 991.98px) {
      display: none;
    }
  }
  .order-item {
    .order-row {
      height: 50px;
      text-align: center;
      line-height: 50px;
      @include flex();
      flex-direction: row;
      align-items: stretch;
      margin-top:-1px;
      .col {
        border: 1px solid $color-border-3;
        float: none;
        color:$color-background-1;
      }
      .code {
        color: $color-secondary-2;
      }
      .more {
        i {
          font-size: 25px;
          color: $color-main-1;
          line-height: 50px;
        }
      }
      .shipment-status {
        span {
          &.status-0 {
            color: #df5a42
          }

          &.status-1 {
            color: #efbc57
          }

          &.status-2 {
            color: #3c763d
          }

          &.status-3 {
            color: #3c94b3
          }
        }
      }
      .payment-status {
        span {
          &.status-0, &.status-4, &.status-5, &.status-6 {
            color: #df5a42
          }

          &.status-1 {
            color: #efbc57
          }

          &.status-2 {
            color: #3c763d
          }
        }
      }
      @media(max-width: 991.98px) {
        flex-wrap: wrap;
        height: auto;
        margin-bottom: 30px;
        .col {
          float: right;
        }
        .code {
          height: 50px;
          text-align: center;
          background: $color-border-1;
          font-weight: bold;
        }
        span.mb-show {
          display: inline-block;
          padding-left: 5px;
        }
        .btn {
          color: $color-main-1;
          padding: 0;
          i {
            color: $color-main-1;
            line-height: normal;
            margin-right: 6px;
            vertical-align: middle;
            font-size: 20px;
          }
        }
      }
    }
  }
  .pagination {
    margin-top: 30px;
    padding: 0;
    justify-content: center;
    li {
      margin: 0 5px;
      a {
        display: block;
        padding: 0;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        color: $color-border-3;
        text-align: center;
        @include border-radius(0);
        -webkit-mask-image: -webkit-radial-gradient(white, black);
      }
      &:hover, &:focus, &.current {
        a {
          border-color: $color-main-1;
          color: $color-main-1;
          background: none;
        }
      }
    }
  }

}