.process {
  margin: 40px 0 60px;

  ul {
    list-style: none;
    padding: 0;
    justify-content: stretch;
    align-items: flex-start;
    flex-wrap: nowrap;

    li {
      font-size: 14px;
      @include flex();
      justify-content: stretch;
      align-items: center;

      .square {
        width: 40px;
        height: 40px;
        border: 3px solid #e6e6e6;
        border-radius: 50%;
        -webkit-mask-image: -webkit-radial-gradient(white, black);
        background: #e6e6e6;
        position: relative;
        vertical-align: middle;
        margin: 0 15px;

        i {
          font-size: 26px;
          color: #fff;
          padding: 4px;
          display: none;
        }
      }

      .line {
        flex-grow: 1;
        border: 1px solid $color-border-3;
      }

      &.done {
        .square {
          background: $color-main-1;
          border-color: $color-main-1;

          i {
            display: block;
          }
        }

        .line {
          border: 1px solid $color-secondary-1;
        }
      }

      &.doing {
        .square {
          background: $color-secondary-1;
          border-color: $color-secondary-1;
        }
      }

      &:last-child {
        .line {
          border-style: dashed;
        }
      }

      @media(max-width: 767.98px) {
        flex-direction: column-reverse;
        text-align: center;
        .square {
          margin: 0 0 10px;
        }
      }
    }
  }
  @media(max-width: 991.98px){
    margin: 25px 0 35px;
  }
  @media(max-width: 575.98px){
    margin: 15px 0 20px;
    ul li{
      font-size:12px;
      .square{
        width: 30px;
        height: 30px;
        i{
          font-size:16px;
        }
      }
    }
  }
}