@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin border-radius-top($radius) {
  -webkit-border-top-left-radius: $radius;
  -webkit-border-top-right-radius: $radius;
  -moz-border-radius-topleft: $radius;
  -moz-border-radius-topright: $radius;
  -ms-border-radius-top-right: $radius;
  -ms-border-radius-top-left: $radius;
  -ms-border-radius-topright: $radius;
  -ms-border-radius-topleft: $radius;
  border-top-right-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin border-radius-bottom($radius) {
  -webkit-border-bottom-left-radius: $radius;
  -webkit-border-bottom-right-radius: $radius;
  -moz-border-radius-bottomleft: $radius;
  -moz-border-radius-bottomright: $radius;
  -ms-border-radius-bottom-right: $radius;
  -ms-border-radius-bottom-left: $radius;
  -ms-border-radius-bottomright: $radius;
  -ms-border-radius-bottomleft: $radius;
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin border-radius-right($radius) {
  -webkit-border-top-right-radius: $radius;
  -webkit-border-bottom-right-radius: $radius;
  -moz-border-radius-top-right: $radius;
  -moz-border-radius-bottom-right: $radius;
  -ms-border-radius-bottom-right: $radius;
  -ms-border-radius-top-right: $radius;
  -ms-border-radius-bottom-right: $radius;
  -ms-border-radius-top-right: $radius;
  border-bottom-right-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin border-radius-left($radius) {
  -webkit-border-top-left-radius: $radius;
  -webkit-border-bottom-left-radius: $radius;
  -moz-border-radius-top-left: $radius;
  -moz-border-radius-bottom-left: $radius;
  -ms-border-radius-bottom-left: $radius;
  -ms-border-radius-top-left: $radius;
  -ms-border-radius-bottom-left: $radius;
  -ms-border-radius-top-left: $radius;
  border-bottom-left-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin box-shadow($x, $y, $z , $color) {
  -ms-box-shadow: $x $y $z $color;
  -o-box-shadow: $x $y $z $color;
  box-shadow: $x $y $z $color;
}

@mixin hide-scroll() {
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin main-scroll-content() {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

@mixin transition($property,$time) {
  -webkit-transition: $property $time;
  -moz-transition: $property $time;
  -ms-transition: $property $time;
  -o-transition: $property $time;
  transition: $property $time;
}

@mixin flex() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin box-shadow($x,$y,$z,$color) {
  -webkit-box-shadow: $x $y $z $color;
  -moz-box-shadow: $x $y $z $color;
  box-shadow: $x $y $z $color;
}
