$color-main-1:#59C4C5;

$color-secondary-1:#F5AB26;

$black: #000000;

$color-secondary-2: #e49f23;

$color-thirdly-1: #1e68b1;

$color-background-1:#404347;
$color-background-2:#373a3e;
$color-background-3:#cdcdcd;
$color-background-4:#efefef;
$color-background-5: #f6f6f6;

$color-border-1: #5f5f5f;
$color-border-2: #cdcdcd;
$color-border-3: #7d7d7d;
$color-border-4: #909090;
$color-border-5: #b4b4b4;

$white:#fff;


// added from kitline for check ui
$mainColor1: #FFBE2D;
$mainColor1Medium: #FFD200;
$mainColor1Light: #F7E294;
$mainColor2Light: #d1d1b2;
$mainColor2: #1E3264;
$mainColor3: #f55a82;
$accentColor:#7dcd73;
$darkGrey: #1e1e1e;
$grey: #3c3c3a;
$mediumGrey: #52524f;
$lightGrey1: #A3A29F;
$lightGrey2: #DEDEDD;
$lightGrey3: #f1f1f1;
$iconGrey: #787878;
$btnColor: #F9F9F9;
$borderColor: #c5c6c8;
$borderColorLight: #e8e9e9;
$tableHeaderColor:#f4f4f4;
$bodyBackground: #fafafa;
$txtGrey: #AAB3B9;

$txtColor: #2d3033;
$txtColor4d: #4d4d4d;
$txtColorLight: #8a8d90;
$bgGrey: #ebebeb;
$grey99: #999999;
$grey33: #333333;

$selectedRatingStar: #ff8226;
$error-color-1: #9e2e32;
$success-color-1: #339e48;
/**/